// Fuentes
$fuente_headings: "Almarai", sans-serif;
$fuente_textos: "Almarai", sans-serif;

// Tamaño de Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 992px;

// Colores
$primario: #14213D;
$secundario: #FCA311;
$terciario: #44271C;

$negro: #171820;
$amarillo: #FFD700;
$anaranjado: #FF8C00;

$white: #FFFFFF;
$gray: #313131;
$gray-light: #b6b4b4;
$gray-light2: #e3dfdf;
$black: #000;

$red: rgb(120, 0, 0);
$green: rgb(0, 120, 0);
$blue: rgb(0, 0, 120);

$separacion: 5rem;