@use "base/variables" as v;
@use "base/mixins" as m;

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include m.tablet {
        width: 40%;
    }

    &__main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    &__input {
        padding: 1rem;
        margin: 1rem 0;
        width: 100%;
        border-radius: .5rem;

        &:hover {
            border-color: v.$secundario;
        }
    }

    &__boton {
        @include m.boton(v.$terciario, v.$white);

        margin-top: 2rem;
    }
}

.input-container {
    position: relative;
    width: 100%;
}

#eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.textarea {
    height: 40rem !important;
}