@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: v.$white;

    &__header {
        width: 100%;
        height: 10rem;
        text-align: center;
        padding: 2rem;
        background-color: lighten(v.$black, 15);
        color: v.$white;
    }
    
    &__contenido {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding: 3rem;
    }
}
