@use "base/variables" as v;
@use "base/mixins" as m;

.dashboard {
    &__linea {
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &--header {
            @extend .dashboard__linea;

            background-color: v.$gray-light;
        }

        &-elem {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            border: 1px solid black;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__contenido--general {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding: 3rem;
        gap: 2rem;
        justify-content: flex-start;
    }
}
