@use 'base/variables' as v;
@use 'base/mixins' as m;

.globo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 8rem;
    height: 8rem;
    background-color: v.$terciario;
    border-radius: 5rem;
    cursor: pointer;

    @include m.shadow;

    &__icono {
        font-size: 3rem;
        color: v.$white;
    }

    &:hover {
        background-color: v.$secundario;

        .globo__icono {
            color: v.$black;
        }
    }
}