@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
    background-color: v.$marron;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include m.tablet {
        display: flex;
    }

    &__contenedor-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        background-image: image-set(
            url(../img/logo2.avif) 1x,
            url(../img/logo2.webp) 1x,
            url(../img/logo2.png) 1x);
        background-size: cover;
        background-repeat: no-repeat;
        width: 6rem;
        height: 6rem;
        margin: 1rem;
        z-index: 3;
        background-color: v.$gray-light;
        border-radius: 50%;
        transition-property: background-color;
        transition-duration: .2s;

        &:hover {
            background-color: v.$white;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 1rem;
        width: 100%;
        
        &-link {
            padding: 1rem 2rem;
            font-size: 2rem;
            text-decoration: none;
            position: relative;
            color: v.$black;
            transition-property: border-bottom, color;
            transition-duration: .2s;
    
            &:hover {
                border-bottom: 1px solid v.$white;
                color: v.$white;
            }
        }
    }
}

.active {
    color: v.$amarillo;

    &:hover {
        border-bottom: 1px solid v.$amarillo;
        color: v.$amarillo;
    }
}