@use "base/variables" as v;
@use "base/mixins" as m;

.techs__admin {
    background-color: v.$anaranjado;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    height: 18rem;
    width: 100%;

    &-dashboard {
        display: flex;
        flex-direction: column;
        height: 85vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 2rem;
        align-items: center;
    }

    &-elem {
        margin: .5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: v.$black;
        border: 1px solid v.$black;
        border-radius: .5rem;
        padding: 1rem;

        &--info {
            @extend .techs__admin-elem;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            text-align: center;
            justify-content: space-evenly;

            & p {
                margin: 0;
            }
        }

        &--img {
            @extend .techs__admin-elem;

            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            & img {
                height: auto;
                width: 10rem;
            }
        }

        &--btn {
            @extend .techs__admin-elem;
        }
    }
}