@use 'base/variables' as v;
@use 'base/mixins' as m;

.categorias {
    display: flex;
    flex-direction: column;
    width: 70rem;
    height: 70rem;
    margin: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: v.$white;
    padding: 3rem;
    border-radius: 3rem;

    &__screen {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.8);
        align-items: center;
        justify-content: center;
    }

    &__seccion {
        display: flex;
        flex-direction: row;
        place-items: center;
        height: 100%;
        
        &--columna {
            display: flex;
            flex-direction: column;
            width: 20rem;
            height: 100%;
            justify-content: flex-start;
        }

        &--link {
            text-transform: uppercase;
            color: v.$black;
            padding: 2rem;
            
            &:hover {
                cursor: pointer;
                font-weight: 600;
            }
        }
    }
}