@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    width: 100vw;
    min-height: 35rem;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding: 1rem;
    background-color: v.$black;
    box-shadow: 0 -0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    justify-content: center;


    @include m.tablet {
        flex-direction: row;
        justify-content: left;
    }

    &__contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        padding: 2rem;
        margin: 2rem;
        border-right: none;
        height: 100%;
        justify-content: space-between;

        @include m.tablet {
            border-right: 1px solid v.$gray-light;
        }
    }

    &__contenedor2 {
        @extend .footer__contenedor;

        border: none;
        align-items: center;

        @include m.tablet {
            align-items: flex-start;
        }
    }

    &__contenedor3 {
        @extend .footer__contenedor2;

        width: 100%;
        align-items: center;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-link {
            text-transform: uppercase;
            color: v.$gray-light;
            font-size: 2rem;
            text-align: center;

            &:hover {
                color: v.$white;
            }

            @include m.tablet {
                text-align: left;
                font-size: 1.6rem;
            }
        }
    }

    &__titulo {
        text-decoration: none;
        color: v.$gray-light;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        font-size: 4rem;
        font-weight: 900;

        &:hover {
            color: v.$white;
        }
    }

    &__img {
        width: 4rem;
        height: 4rem;

        &:hover {
            cursor: pointer;
        }
    }
}