@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    height: 20rem;
    background-color: v.$black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__contenedor {
        display: flex;
        flex-direction: column;
        margin: 5rem;
        align-items: center;
    }

    &__titulo {
        margin: 0;
        text-align: center;
    }

    &__description {
        text-align: center;
    }

    &__img-barras {
        width: 5rem;
        height: 5rem;
    }
}