@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10rem;
    background: image-set(
        url(../img/fondo.avif) 1x,
        url(../img/fondo.webp) 1x,
        url(../img/fondo.png) 1x
    ) left top / 50rem;

    &__contenedor {
        display: flex;
        flex-direction: column;
        margin: 5rem;
        align-items: center;
    }

    &__titulo {
        text-transform: uppercase;
        margin: 0;
        text-align: center;
    }

    &__description {
        text-align: center;
        border-bottom: 1px solid v.$white;
    }

    &__img-barras {
        width: 6rem;
        height: 6rem;
    }
}