@use 'base/variables' as v;
@use 'base/mixins' as m;

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6rem;
    background-color: v.$black;
    font-size: 1.8rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);

    &-link {
        text-transform: uppercase;
        color: v.$white;

        &:hover {
            color: v.$secundario;
            border-bottom: 1px solid v.$secundario;
        }
    }

    & form {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

.form-control {
    border-radius: .5rem;
    font-size: 1.8rem;

    &:hover {
        border-color: v.$secundario;
    }
}

.fixed {
    position: fixed;
    top: 0;
}

.dropdown-item {
    font-size: 1.5rem;
}

.activo {
    color: v.$secundario;
}

.btn-search {
    background-color: v.$black;
    border: none;
}